<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <title>{% block title %}{% endblock %} - IC Blog</title>
    {% endblock %}
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo/ic.png') }}" alt="Logo" height=100px width=100px>
        </div>
    </header>
    <h1>IC Blog</h1>
    <hr>
    {% with messages = get_flashed_messages() %} 
    {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}<li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}


    <div id="content">
        {% block content %}{% endblock %}

    </div>

    <footer>
        {% block footer %}
        <hr>
            &copy; 2021 &bull; IC Blog
        {% endblock %}
    </footer>
</body>
</html>